.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

#contact{
  padding-bottom: 55px;
}

#sprava1 {
  padding-bottom: 6px;
  color: green;
}

#sprava2 {
  padding-bottom: 6px;
  color: rgb(248, 85, 85);
}


